{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	<style>
		.leaflet-container {
			margin-left: auto;
			margin-right: auto;
			margin-top: auto;
			margin-bottom: auto;
			height: 100%;
			width: 100%;
			padding: 475px 475px 475px 475px;
		}

		.body-main {
			height: 100%;
			width: 100%;
		}
	</style>

</head>

<body>
	<div class="leaflet-container" id="map"></div>

	<!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
	<script src="../src/HeatLayer.js"></script> -->

	<!--<script src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.10000.js"></script>-->
	<script>
		var map = L.map('map', {
			crs: L.CRS.Simple
		});

		var x1 = 0
		//11765/100;
		var y1 = 0
		//-10079/100;
		var x2 = 1000;
		//-15891/100;
		var y2 = -1000;
		//23282/100;
		
		var bounds = [[x1,y1], [x2, y2]];
		var image = L.imageOverlay('../static/images/floor_map.png', bounds).addTo(map);

		//map.setView([65.24751, 14.23828], 5);
		//var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		//	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
		//}).addTo(map);

		// addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
		// console.log(addressPoints);
		// var heat = L.heatLayer(addressPoints).addTo(map);
		map.fitBounds(bounds);
		//map.setMaxBounds(bounds)

		var sol =([x2/2,y2/2]);
		L.marker(sol).addTo(map);

		map.setView([x2/2,y2/2], 1);
																							
	</script>
</body>

</html>